body{
    background: url(../img/fondo-bienvenido-grande.jpg);
    background-size: cover;
    height: 100%;
}
@media (max-width: 767.98px){
    body{
        background: url(../img/fondo-bienvenidos.jpg);
        background-size: cover;
        height: 100%;
    }
}
