footer{
    background-color: rgb(19, 18, 18);
    color: white;
}
.cursiva{
    font-family: 'Alex Brush', cursive;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 20px;
}
.cursiva a{
    margin: 10px;
    color: teal;
}