nav{
    background: #170404b5;
}

.color-white-b{
    color: white !important;
    background: rgba(107, 1, 1, 0.27);
    font-size: 18px;
    text-align: center;
    margin: 2px;
    border-radius: 5px;
}

.color-white-b:hover{
    background: rgb(156, 65, 49);
    color: slategray;
}

.color-white-b:active{
    background: rgb(163, 105, 95);
    color: black !important;
}
.boton-inicio{
    background:rgba(156, 65, 49, 0.42);
    color: white !important;
    text-align: center;
    font-size: 18px;
    margin: 2px;
    border-radius: 5px;
}
.boton-inicio:hover{
    background: rgb(156, 65, 49);
    color: slategray;
}
.boton-inicio:active{
    background: rgb(163, 105, 95);
    color: black !important;
}
.color-white-a{
    color: white !important;
}

#menu-principal{
    clear: both;
    justify-content: flex-end;
}
.font-initial{
    font-family: initial;
    font-size: 20px;
    text-transform: uppercase;
}

.boton-size{
    font-size: 28px;
}

.botones > a {
    margin: 2px 5px;
}
