.bienvenidos{
    margin-top: 100px;
    color: white;
}

.boton-primary-app {
    color: white;
    background: tomato;
    border-color: rgb(240, 79, 50);
}

.boton-primary-app:hover{
    color: white;
    background: rgb(248, 140, 121);
    border-color:tomato;
}

.titulo-1{
    font-size: 24px;
    font-family: auto;
}


/*Estilos quienes-somos*/
.quienes-somos{
    background: tomato;
    color: white;
    margin-top: 100px;
    padding: 2rem;
}
.btn-light{
    border: solid 1px rgb(116, 116, 116);
}
.text-font{
    font-family: initial;
    font-size: larger;
}


/*Estilos nuestros servicios*/
.servicios{
    background-color: white;   
}
.titulo1{
    padding: 20px 0px 40px 0px;   
}
.icons{
    font-size: 111px;
    color: tomato;
}
.bold{
    font-weight: bold;
}

/* Portafolio */
.portafolio{
    background-color: #424141;
    color: white;
}

.portafolio h3{
    font-size: 35px;
    margin-bottom: 40px;
}

.portafolio a{
    display: block;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.portafolio img{
    transition: all 0.6s ease;
}

.portafolio a:hover img{
    transform: scale(1.5);
}
/* Estilos Modal mas informacio */
.Texto-modificado{
    font-family: none;
    font-size: larger;
}